.home__imageContainer {
	max-width: 1500px !important;
	width: 100%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.home__image {
	object-fit: contain;
	width: 100%;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	z-index: -1;
}

.home__row {
	display: flex;
	z-index: 1;
	margin: 0 5px;
}

.home__products {
	margin-top: -150px !important;
	max-width: 90%;
	margin: auto;
}

@media screen and (max-width: 768px) {
	.home__row {
		display: block;
	}
	.home__products {
		margin-top: -30px !important;
	}
}
